* {
	padding: 0;
	margin: 0;
}
body {
	padding: 60px 30px;
	background-color:#060;
	font-family: Consolas;
}

#user_info {
	float: left;
	background-color: #FFFF99;
	width: 200px;
	margin: 0px 15px;
	padding: 20px 0;
	min-height: 400px;

}

#user_info img {
	display: block;
	margin: 0 auto;
}

#user_info, #user_name {
	text-align: center;
	font-weight:bold;
}

#table_caption{
	font-weight:300;
	font-size:24px;
	background-color:#090;
	color:#D7F4D7;
	text-align:left;
	padding: 0px 10px;
}

#table_caption a{
	text-decoration:none;
	font-weight:600;
	font-size:18px;
	background-color:#090;
	color:#D7F4D7;
	text-align:left;
}

#table_caption a:hover{
	text-decoration:underline;
	font-weight:600;
	font-size:18px;
	background-color:#090;
	color:#D7F4D7;
	text-align:left;
}

.nav_links{
	float: right;
	clear: left;
	width: 150px;
	padding-right: 25px;
	padding-top: 10px;
}

.nav_links .list_header {
	text-align: left;
	background-color: #060;
	font-weight:bold;
	color: white;
	font-size: 18px;
	padding: 5px;
}

.nav_links ul{
	list-style: none;
}

.nav_links ul li{
	background-color: white;
	border: 1px solid;
	text-align: right;
}

.nav_links ul li a{
	display: block;
	text-decoration: none;
	font-size: 15px;
	padding: 3px;
	color:black;
}

.nav_links ul li:hover{
	background-color: black;
}

.nav_links ul li a:hover{
	color: white;
}

#itens_container {
	float: left;
	background-color: #FFFF99;
	width: 1000px;
	padding: 20px 0;
	min-height: 400px;
}

#aba_nome{
	display: inline-block;
	position: absolute;
	margin-top: -70px;
	padding: 10px;
	height: 0;
    min-width: 100px;
    line-height: 50px;
    text-decoration: none;
    color: black;
	font-size:20px;
    font-weight: bold;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #FFFF99;
}

#conteudo{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 100%;
}

#form{
	margin:15px;
}

#opt_ver{
	color: #2dca2d;
}

#opt_editar{
	color: #6868ff;
}

#opt_remover{
	color: #ff3838;
}

.table_listagem {
    width: 100%;
	margin-bottom:20px;
    border-collapse: collapse;
    text-align: center;
}

.table_listagem td, .table_listagem th {
    font-size: 1em;
    border: 0px solid black;
    padding: 3px 7px 2px 7px;
}

.table_listagem th {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #060;
	font-weight:normal;
    color: #D7F4D7;
}

.table_listagem td {
    background-color: white;
}

.table_listagem td a{
	text-decoration: none;
	color: black;
}

.table_listagem td a:hover{
	text-decoration: underline;
	color: black;
}

.add_button{
	padding: 7px;
	border: 2px solid black;
	background: #D7F4D7;
	text-decoration: none;
	font-weight:bold;
	color: black;
}

.add_button:hover{
	background: #093;
	color:#FFF;
}

.add_button:active{
	background: #608660;
	color: white;
}

.clean_button{
	padding: 7px;
	margin:5px;
	width:120px;
	border: 2px solid black;
	background: #F85230;
	text-decoration: none;
	font-weight:bold;
	color: white;
}

.clean_button:hover{
	background: #C30;
	color:#FFF;
}

.clean_button:active{
	background: #971D05;
	color: white;
}

.back_button{
	padding: 7px;
	margin:5px;
	width:120px;
	border: 2px solid black;
	background: #40B3B3;
	text-decoration: none;
	font-weight:bold;
	color: white;
}

.back_button:hover{
	background: #099;
	color:#FFF;
}

.back_button:active{
	background: #266B6B;
	color: white;
}

.save_button{
	padding: 7px;
	margin:5px;
	width:120px;
	border: 2px solid black;
	background: #090;
	text-decoration: none;
	font-weight:bold;
	color: white;
}

.save_button:hover{
	background: #2E8426;
	color:#FFF;
}

.save_button:active{
	background: #060;
	color: white;
}

#form form  label{
	height: 10px;
	margin-top: 4px;
	padding-top: 12px;
	padding-left: 6px;
	min-width: 100px;
	text-align: right;
	float: left;
	font-size: 1.2em;
}

#form form  .input_text{
	margin: 15px 0px 0px 15px;
	height: 20px;
	padding: 1px 0px 1px 2px;
	background-color: #FFF;
	width: 250px;
	color: #333;
	border: 1px ridge #CACACA;

}
