* {
	padding: 0;
	margin: 0;
}
body {
	background-color:#060;
}

#user_info {
	position: relative;
	float: left;
	background-color: #FFFF99;
	top:175px;
	left: 25px;
	width: 200px;
	padding: 20px 0;
	height: 350px;
}

#user_info img {
	display: block;
	margin: 0 auto;
}

#user_info p#user_name {
	text-align: center;
	font-family: Verdana;
}

.nav_links{
	float: right;
	clear: left;
	width: 150px;
	padding-right: 25px;
	padding-top: 10px;
}

.nav_links .list_header {
	text-align: left;
	background-color: #060;
	font-family: Verdana;
	color: white;
	font-size: 15px;
	padding: 5px;
}

.nav_links ul{
	list-style: none;
}

.nav_links ul li{
	background-color: white;
	border: 1px solid;
	text-align: right;
}

.nav_links ul li a{
	display: block;
	text-decoration: none;
	font-family: Verdana;
	font-size: 13px;
	padding: 3px;
	color:black;
}

.nav_links ul li:hover{
	background-color: black;
}

.nav_links ul li a:hover{
	color: white;
}

#itens_container {
	position: relative;
	left: 70px;
	top: 175px;
	float: left;
	background-color: #FFFF99;
	width: 1000px;
	padding: 20px 0;
	height: 350px;
}

a#aba_nome{
	display: inline-block;
	position: absolute;
	margin-top: -70px;
	padding: 10px;
	height: 0;
    min-width: 100px;
    line-height: 50px;
	font-family: Verdana;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #FFFF99;
}

#conteudo{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 100%;
}

.table_listagem {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

.table_listagem td, .table_listagem th {
    font-size: 1em;
    border: 0px solid black;
    padding: 3px 7px 2px 7px;
}

.table_listagem th {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #060;
    color: #ffffff;
}

.table_listagem td {
    background-color: white;
}

.table_listagem td a{
	text-decoration: none;
	color: black;
}

.table_listagem td a:hover{
	text-decoration: underline;
	color: black;
}

#itens_container a.add_button{
	position: relative;
	top:30px;
	padding: 7px;
	border: 1px solid black;
	background: #bfd9bf;
	text-decoration: none;
	color: black;

}

#itens_container a.add_button:hover{
	background: #608660;
}

#itens_container a.add_button:active{
	background: #002600;
	color: white;
}


